<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        <h1>NotReddit©</h1>
        <p>
            NotReddit© is een website die op geen enkele manier gebaseerd is op de populaire social media site 'Reddit'.
            Bij NotReddit© hoef je niet per se in te loggen.
            Als niet ingelogde gebruiker kan je communities zien met daarin de posts van deze community.
            Echter heb je als ingelogde gebruiker veel meer functionaliteiten die je niet hebt als je niet bent ingelogd.
            Als ingelogde gebruiker kan je bijvoorbeeld een community maken.
            Ook kan je in de communities waar je aan deel neemt posts maken en reageren onder andere posts.
            Als je bent ingelogd, kan je iemands post of comment liken of disliken.
            Als iemand een like krijgt, krijgt deze persoon 1 karma erbij.
            Het tegenovergestelde geldt wanneer iemand een dislike krijgt.
            In dit geval krijgt de persoon 1 karma van hun account afgehaald.
            Bij het maken van een post, kan er geselecteerd worden of de post NSFW (Not Safe For Work) content bevat.
            Wanneer een post de NSFW tag krijgt, kunnen minderjarige gebruikers en niet ingelogde gebruikers de post niet zien ter bescherming.
            Op NotReddit© kan je vrienden worden met andere gebruikers.
            <br><br>
        </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div
                class="d-flex justify-content-center align-items-center px-3 py-3"
            >
            <img src="assets/images/SmexyFoto.jpg" class="card-img-top rounded-circle border profile-pic px-4 py-4" alt="..."/>
            </div>
            <div class="card-body">
                <h5 class="card-title">Thijs Raaijmakers</h5>
                <p class="card-text">Studentnummer: 2184107</p>
            </div>
        </div>
    </div>
</div>

<h3>Entiteiten</h3>

<img src="assets/images/erd.png" class="px-5 py-5" alt="..." />

<div class="row">
    <div class="col-sm-12 col-md-4 border">
        <p>User</p>
        <ul>
            <li>naam: string</li>
            <li>id: number</li>
            <li>emailAddress: string</li>
            <li>birthdate: date</li>
            <li>karma: number</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4 border">
        <p>Community</p>
        <ul>
            <li>naam: string</li>
            <li>id: number</li>
            <li>description: string</li>
            <li>members: Object</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4 border">
        <p>Post</p>
        <ul>
            <li>id: number</li>
            <li>title: string</li>
            <li>content: string</li>
            <li>isNsfw: boolean</li>
            <li>likes: number</li>
            <li>dislikes: number</li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-4 border">
        <p><b>Message</b></p>
        <ul>
            <li>id: number</li>
            <li>username: string</li>
            <li>content: string</li>>
            <li>likes: number</li>
            <li>dislikes: number</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Userstories</h3>
        <p>
            Hier verwoord je in de vorm van userstories de functionaliteit van
            jouw applicatie.
        </p>

        <table class="table table-bordered">
            <thead>
                <th>Nr</th>
                <th class="col-6">Userstory</th>
                <th>Evt toelichting</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        Als gebruiker wil ik communities kunnen zien.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Als gebruiker wil ik de posts in een community kunnen zien.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Als ingelogde gebruiker wil ik een community willen aanmaken.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        Als ingelogde gebruiker wil ik een post kunnen maken binnen een community.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        Als ingelogde gebruiker wil ik een post en een comment kunnen liken of disliken.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        Als ingelogde gebruiker wil ik vrienden kunnen toevoegen.
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        Als administrator van een community, wil ik posts kunnen verwijderen.
                    </td>
                    <td></td>
                </tr>               
            </tbody>
        </table>
    </div>
</div>